{% extends 'base.html.twig' %}

{% block title %}
    Hello PersonnageController!                                      
                    
                
            
        
    
{% endblock %}

{% block body %}
    <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <h1>
            Fiche de personnage
                                                                                
                                                                    
                                                        
                                            
                                
                    
        </h1>

        <div class="container">
            {# Titre + rank #}
            <div class="row">
                <div class="col-8">
                    <h2>
                        {{ personnage.nom }}
                    </h2>
                </div>
                <div class="col-4">

                    {{ personnage.rarete }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ personnage.titre }}
                </div>
            </div>
            {# image + skillset #}
            <div class="row">
                <div class="col-6">
                    <img src="{{ personnage.imageDefault }}" alt="image perso"></div>
                    <div class="col-6">
                        <div class="row">

                            {{ personnage.type }}
                            {{ personnage.couleur }}
                            {{ personnage.armeType }}

                        </div>
                        <div class="row">
                            {% if personnage.skillset.arme is null %}
                                -                                                              
                                                                                            
                                                            
                            {% else %}
                                {{ personnage.skillset.arme.nom }}
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if personnage.skillset.skillA is null %}
                                -
                                                                                    
                                                            
                            {% else %}
                                {{ personnage.skillset.skillA.nom }}
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if personnage.skillset.skillB is null %}
                                -
                                                                                            
                                                            
                            {% else %}
                                {{ personnage.skillset.skillB.nom }}
                            {% endif %}

                        </div>
                        <div class="row">
                            {% if personnage.skillset.skillC is null %}
                                -
                                                                                    
                                                            
                            {% else %}
                                {{ personnage.skillset.skillC.nom }}
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if personnage.skillset.support is null %}
                                -
                                                                                    
                                                            
                            {% else %}
                                {{ personnage.skillset.support.nom }}
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if personnage.skillset.special is null %}
                                -
                                                                                    
                                                            
                            {% else %}
                                {{ personnage.skillset.special.nom }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                

            </div>
        {% endblock %}
        